* {
    overflow: hidden;
  }
  body {
    height: 100vh;
    background-color: #EC5766;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
  }
  input {
    width: 15rem;
    height: 1.5rem;
    padding: 0.5rem;
    border: 2px solid black;
    color: black;
    border-radius: 0.5rem;
    &::placeholder {
      color: black;
    }
  }
  form {
    margin-bottom: 1rem;
  }
  .todos {
    max-height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
  }
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    border-left: 3.5px solid #EB4757;
    margin-bottom: 0.8rem;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-variant: small-caps;
  }
  .delete {
    color: #F20B22;
    cursor: pointer;
  }
  